<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top   ">
	
	<img src="../static/money-icon.png" style="width: 40px; height: 40px;" />
	<a class="navbar-brand" href="/">
		<h2 class="green-text">Expense<span class="text-light">Tracker</span></h2>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">
					<h5 class="text-light">Home</h5><span class="sr-only"></span>
				</a>
			</li>
			
			{% if session.logged_in %}
			<li class="nav-item">
				<a class="nav-link" href="/addSalary">
					<h5 class="text-light">Salary</h5><span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/addTransactions">
					<h5 class="text-light">Transactions</h5><span class="sr-only"></span>
				</a>
			</li>
			


			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="text-light h5">History</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <a class="dropdown-item" href="/transactionHistory">Transaction</a>
				  <a class="dropdown-item" href="/salaryHistory">Salary</a>
				</div>
			  </li>

            
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="text-light h5">Report</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <a class="dropdown-item" href="category">Category Pie Char</a>
				  <a class="dropdown-item" href="yearly_bar">Comparison Bar Chart</a>
				  <a class="dropdown-item" href="daily_line">Daily Line Chart</a>
				</div>
			  </li>

			<li class="nav-item">
				<a class="nav-link" href="/logout">
					<h5 class="text-light">Logout</h5><span class="sr-only"></span>
				</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="/register">
					<h5 class="text-light">Sign Up</h5>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">
					<h5 class="text-light">Login</h5><span class="sr-only"></span>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>